<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item [ngClass]="{ 'error': registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched) }">
      <ion-label position="floating">
        Nombre de usuario
        <ion-icon *ngIf="registerForm.get('username')?.valid && registerForm.get('username')?.touched" name="checkmark-circle" color="success" slot="end"></ion-icon>
      </ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)" color="danger">
      El nombre de usuario es obligatorio y debe tener al menos 3 caracteres.
    </ion-note>

    <ion-item [ngClass]="{ 'error': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) }">
      <ion-label position="floating">
        Contraseña
        <ion-icon *ngIf="registerForm.get('password')?.valid && registerForm.get('password')?.touched" name="checkmark-circle" color="success" slot="end"></ion-icon>
      </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" color="danger">
      La contraseña es obligatoria y debe tener al menos 6 caracteres.
    </ion-note>

    <ion-item [ngClass]="{ 'error': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) || registerForm.hasError('mismatch') }">
      <ion-label position="floating">
        Confirmar Contraseña
        <ion-icon *ngIf="registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched && !registerForm.hasError('mismatch')" name="checkmark-circle" color="success" slot="end"></ion-icon>
      </ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-note *ngIf="registerForm.hasError('mismatch') && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" color="danger">
      Las contraseñas deben coincidir.
    </ion-note>

    <ion-button expand="full" type="submit">Registrarse</ion-button>
  </form>
</ion-content>
